@import '@constants/colors.scss';
@import '@constants/typography.scss';
@import '@constants/media.scss';


.form-inline{
    label{
        display: inline-block !important;
    }
}
.formgroup{
    position:relative;
    margin: 10px 0px 22px 0px;
    width: 100%;
    // padding-right: 100px;
    label{
        display: flex;
        font-family: $font-primary;
        margin-bottom: 2px;
        // font-size: 16px;
        font-size: medium;
        text-transform: capitalize;
        //handle responsive
        @include respond-to($small-screen) {
            font-size: 14px;
        }
    }
    // input type text and password default styles. Please feel free to customize as required
    input[type="text"],input[type="password"],textarea,.custom_select__control{
        font-size: 16px;
        font-family: $font-secondary;
        width: 302px;
        height: 52px;
        padding: 6px 7px;
        border: 0.87px solid #D2D2D2;
        background-color: #000;
        color: white;
        border-color: #D2D2D2;
        border-radius: 6px;
        &::placeholder{
            text-transform: capitalize;
            font-size: 14px;
            color: #9E9E9E;
        }
        &:focus{
            outline: 0px solid #D2D2D2;
            border-color: #D2D2D2;
            background-color: #000 !important;
            box-shadow: none;
        }
        
        //handle responsive
        @include respond-to($small-screen) {
            width: 270px;
            padding: 4px 5px;
            font-size: 14px;
        }
        @include respond-to($x-small-screen) {
            width: 100%;
            padding: 4px 5px;
            font-size: 14px;
        }
    
    }
    //use react select class prefix to select required elements within selector element
    .custom_select__control{
        padding: 0px;
        font-size: 16px;
        color: $info-color !important;
        &:hover{
            border-color: #D2D2D2;
        }
    }
    // form control radio default styles
    .check-control{
        display: inline-block !important;
        margin-right: 10px;
        input{
            margin-right: 5px;
        }
    } 
    // validation error message style
    .validation-error{
        font-family: $font-secondary;
        color: #B378FF;
        font-size: 12px;
        margin-top: 5px;
        position: absolute;
        bottom: -20px;
        left: 0px;
        //handle responsive
        @include respond-to($small-screen) {
            font-size: 12px;
        }
    }
}
